@import url("../../layout/places-layout.css");
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* Path: css/color-palette/theme-cancun.css */

/* Adapt to suitable contrast colors */
body {
  font-family: "SUITE-Regular", sans-serif;
  background-color: #85ffbd;
  background-image: linear-gradient(
    to left,
    #fcc5e4 0%,
    #fda34b 15%,
    #ff7882 35%,
    #c8699e 52%,
    #7046aa 71%,
    #0c1db8 87%,
    #020f75 100%
  );
}

.background-drab-dark-brown {
  background-color: #5c573e;
  color: #ffffff;
  transition-duration: 150ms;
  transition-timing-function: linear;
}

.background-drab-dark-brown:hover {
  background-color: #3e435c;
  color: #ffffff;
}

.background-honolulu-blue {
  background-color: #0077b6;
  color: #ffffff;
  transition-duration: 150ms;
  transition-timing-function: linear;
}

.background-vanilla {
  background-color: #f6f5ae;
  color: #000000;
  transition-duration: 150ms;
  transition-timing-function: linear;
}

.background-vanilla:hover {
  background-color: #aeaff6;
  color: #000000;
}

.background-cherry-blossom-pink {
  background-color: #edafb8;
  color: #000000;
  transition-duration: 150ms;
  transition-timing-function: linear;
}

.background-cherry-blossom-pink:hover {
  background-color: #afede4;
  color: #000000;
}

.background-rosy-brown {
  background-color: #bd897e;
  color: #000000;
  transition-duration: 150ms;
  transition-timing-function: linear;
}

.background-rosy-brown:hover {
  background-color: #7e92bd;
  color: #000000;
}
