@import url(../../layout/places-layout.css);
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* Path: css/color-palette/theme-cancun.css */

/* Adapt to suitable contrast colors */
body {
  font-family: "SUITE-Regular", sans-serif;
  background-color: #8bc6ec;
  background-image: linear-gradient(270deg, #8bc6ec 0%, #9599e2 100%);
}

.background-blue-1 {
  background-color: #caf0f8;
  color: #000000;
}

.background-blue-2 {
  background-color: #ade8f4;
  color: #000000;
}

.background-blue-3 {
  background-color: #90e0ef;
  color: #000000;
}

.background-blue-4 {
  background-color: #48cae4;
  color: #000000;
}

.background-blue-5 {
  background-color: #00b4d8;
  color: #000000;
}

.background-blue-6 {
  background-color: #4996c7;
  color: #000000;
}

.background-blue-7 {
  background-color: #0077b6;
  color: #ffffff;
}

.background-blue-8 {
  background-color: #023e8a;
  color: #ffffff;
}

.background-blue-9 {
  background-color: #03045e;
  color: #ffffff;
}

.background-finn {
  background-color: #613f75;
  color: #ffffff;
}

.background-finn:hover {
  background-color: #d4adcf;
  color: #000000;
}
